@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800,300,300italic,400italic,600italic,700italic,800italic);
body{
 margin: 50px;
 padding: 0;
 text-align: center;
 font-family: 'Open Sans', sans-serif;
}




h2{
  color: rgba(0, 0, 0, 0.3);
  font-weight: 800;
  font-size: 30px;
  text-transform: capitalize;
}
a{
  margin:30px;
  font-style: normal;
  font-size: 18px;
  padding:10px 20px;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid #16a085;
  color:#FFF;
  background-color: #16a085;
  display: inline-block;
  transition:  all 300ms ;
  letter-spacing: 0.5px;
}
a:hover{
  text-decoration: none;
  color:#fff;
}

/*simple shadow effect with spread*/
.first:hover{
box-shadow: 0px 0px 0px 2px white,0px 0px 0px 3px #16a085;
}
/*inset shadow effect with spread*/
.second{
  background: rgba(41,128,185 ,1);
  border : 1px solid rgba(41,128,185 ,1);
}
.second:hover{
box-shadow: 0px 0px 0px 2px white inset,0px 0px 0px 3px rgba(41,128,185 ,1) inset;
}
/*movement effect*/
.third{
position: relative;
top:0px;
left:0px;
background: rgba(241,196,15 ,1);
border : 1px solid rgba(241,196,15 ,1);
}

.third:hover{
  box-shadow: 2px 2px 0px white, 4px 4px 0px rgba(241,196,15 ,1);
  top: -4px;
  left: -4px;
}

/*reverse movement effect*/

.fourth{
position: relative;
right: 0px;
bottom: 0px;
background:  rgba(241,196,15 ,1);
border : 1px solid  rgba(241,196,15 ,1);
}

.fourth:hover{
  box-shadow: -2px -2px 0px white , -4px -4px 0px  rgba(241,196,15 ,1) ;
   right: -4px;
  bottom: -4px;
}

.fifth{
  background: rgba(155,89,182 ,1);
  border : 1px solid rgba(155,89,182 ,1);
  box-shadow: 2px 2px 0px white , 4px 4px 0px rgba(155,89,182 ,1) ;
   left: -4px;
  top: -4px;
  position: relative;
}

.fifth:hover{
  box-shadow: 0px 0px 0px white , 0px 0px 0px rgba(155,89,182 ,1) ;
  left: 0px;
 top: 0px;
}


.sixth{
  background: rgba(139,195,74,1);
  border : 1px solid rgba(139,195,74,1);
  box-shadow: 0px 3px 0px white , 0px 5px 0px rgba(139,195,74,1) ;
  position: relative;
  bottom: 0px;
}

.sixth:hover{
box-shadow: 0px 0px 0px white , 0px 0px 0px rgba(139,195,74,1);
bottom: -4px;
}


.seven:hover{
box-shadow: 0px 0px 0px 2px white,0px 0px 0px 3px #16a085,0px 0px 0px 5px white,0px 0px 0px 6px #16a085;
}

.eight{
  background: rgba(41,128,185 ,1);
  border : 1px solid rgba(41,128,185 ,1);
}

.eight:hover{
box-shadow: 0px 0px 0px 2px white inset,0px 0px 0px 3px rgba(41,128,185 ,1) inset,0px 0px 0px 4px rgba(41,128,185 ,1)inset, 0px 0px 0px 5px white inset;
}

.nine{
  background: rgba(139,195,74,1);
  border : 1px solid rgba(139,195,74,1);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1), 0px 5px 5px rgba(0, 0, 0, 0.25);;
  position: relative;
  bottom: 0px;
}

.nine:hover{
box-shadow:  0px 5px 3px white, 0px 7px 3px rgba(0, 0, 0, 0.1) , 0px 9px 5px rgba(0, 0, 0, 0.25);
bottom: 6px;
}

.ten,.eleven,.twelve,.thirteen{
  position: relative;
  color: rgba(231,76,60 ,1);
  background-color: transparent;
  border : 2px solid  rgba(231,76,60 ,1);
  transition: all 500ms ease-in;
}


.ten:hover{
   box-shadow:  0px -50px 0px rgba(231,76,60 ,1) inset;
   color: white;
}

.eleven:hover{
   box-shadow:  0px 50px 0px rgba(231,76,60 ,1) inset;
   color: white;
}

.twelve:hover{
  box-shadow:  100px 0px 0px rgba(231,76,60 ,1) inset;
  color: white;
}

.thirteen:hover{
  box-shadow:  -100px 0px 0px rgba(231,76,60 ,1) inset;
  color: white;
}



.fourteen{
position: relative;
top:0px;
left:0px;
background: rgba(241,196,15 ,1);
border : 1px solid rgba(241,196,15 ,1);
}

.fourteen:hover{
  box-shadow: -2px 2px 0px white, -4px 4px 0px rgba(241,196,15 ,1);
  top: -4px;
  left: -4px;
}

/*reverse movement effect*/

.fifteen{
position: relative;
right: 0px;
bottom: 0px;
background:  rgba(241,196,15 ,1);
border : 1px solid rgba(241,196,15 ,1);
}

.fifteen:hover{
  box-shadow: 2px -2px 0px white , 4px -4px 0px  rgba(241,196,15 ,1) ;
   right: -4px;
  bottom: -4px;
}
